#map
{
    width: 1200px;
    height: 600px;
    background-color: #ccc;
    
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
#floating-panel
{
    width: 1200px;
    text-align: left;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}